.container {
    display: grid;
    grid-template-columns: 50% auto;
}

.col {
    padding: .4em 1.3em;
}

td {
    padding: 0.5em 0.5em;
}

input.txt {
    border: .5;
    border-radius: 10px;
    padding: 1em;
    width: 80%;
    margin: 2em 2em 1em 1em;
}

input.btn {
    border: 0;
    border-radius: 5px;
    display:block;
    margin-left: 1em;
    padding:1em 2em;
    background:rgb(39, 144, 243);
    color:rgb(255, 255, 255);
    cursor:pointer;
}

.life-container {
    padding:.5em;
}

.remove-icon, .edit-icon {
    float: right;
}


i {
    cursor: pointer;
}