<div class="container">
  <mat-accordion class="budget-display">
    <mat-expansion-panel *ngFor="let budget of budgetsObservable | async;">
        <mat-expansion-panel-header>
            <mat-panel-title>{{ budget.name }}</mat-panel-title>
            <mat-panel-description></mat-panel-description>
        </mat-expansion-panel-header>
        <mat-action-row>
            <button mat-button color="primary">Edit</button>
            <button mat-button color="warn" (click)="removeItem(budget.key)">Delete</button>
          </mat-action-row>
    </mat-expansion-panel>
  </mat-accordion>
</div>