.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-container > * {
    margin: 1em;
}

.login-card {
    display: flex;
    flex-direction: column;
    width: 25%;
    height: 100%;
}

a {
    text-decoration: underline;
}

.create-label {
    font-size: .8em;
}

.button-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.row-element {
    min-width: 13em;
    width: auto;
    margin: .5em;
}

.login-image {
    width: auto;
    height: auto;
    max-width: 2em;
    max-height: 2em;
}

.error-message {
    font-size: .8em;
    color: red;
}